[2020-06-13 19:08] muke1908 opened #1 "Chat unique link"
Write a controller: `/backend/api/index.js` - `POST` endpoint

- [ ] use a hash/uuid to create a unique link
- [ ] create db entry (dependent on #6 )
- [ ] format and return link.

Suggested response:
[code]

[2020-06-13 19:14] muke1908 opened #2 "Link generation UI"
The home route where users can generate a unique chat link.

- Basic instruction about the link and how it works.
- "Generate link" button. ref #20
- Loader while generating the link.
- Show link.
- The link should pre-selected for copying.

Location: `./client/src/pages/chatlink`
Please refer to the UI below:

![Link generation](https://user-images.githubusercontent.com/20297989/85107773-3025d880

[2020-06-13 19:15] muke1908 opened #3 "Link generation flow (FE+BE)"
Blocked on issue #1 and #2

Integrate #1  and #2 and make sure the flow is working.

[2020-06-14 08:49] muke1908 opened #4 "Setup be+fe project"
Create and configure a project that will spin up a server.

- [ ] in dev mode both fe and be should run on watch mode.
- [ ] in prod env, the express server should serve the static fe.

[2020-06-14 09:07] muke1908 opened #6 "Configure mongodb"
Create a mongo instance and configure/establish a connection with the server.

[2020-06-15 07:06] muke1908 opened #7 "Create a style guide"
Create a style guide that will be followed across the project.
It can be a basic CSS file or styled component theme.
https://styled-components.com/docs/advanced

Required properties:

- Primary color
- Secondary color
- Large font size
- Medium font size
- Small font size

[2020-06-19 06:18] #4 closed

[2020-06-26 06:27] muke1908 opened #8 "utils: google reCaptcha validator"
Create a util function that verifies if a google captcha is solved correctly.

input: `token` provided by the reCAPTCHA that you get after solving a captcha in the client.
output: `<true|false>`

Resource:

- https://developers.google.com/recaptcha/docs/verify#api_request
- https://www.google.com/recaptcha/intro/v3.html

[2020-06-27 15:16] #8 closed

[2020-06-28 13:26] Yogita98 commented on #1
@muke1908 is this issue up for grabs?

[2020-06-28 13:51] #6 closed

[2020-06-28 13:53] muke1908 commented on #1
@Yogita98 Sure! To create db entry please use utils `insertInDb ` in `/backend/db/index.js`

[2020-06-28 14:19] muke1908 opened #13 "Set up test framework - jest"
The scope of this issue is limited to setup jest which will be used to write tests for backend code.

[2020-06-28 14:58] Yogita98 commented on #1
@muke1908 so you just want to create a hash function?

[2020-06-28 15:14] muke1908 commented on #1
@Yogita98
Take a look at this file https://github.com/muke1908/chat-e2ee/blob/master/backend/api/index.js

Currently, if you hit a `POST` request to `http://localhost:3001/api/getLink`([Line 10](https://github.com/muke1908/chat-e2ee/blob/0a5d1b31312fa92d822d20095a70326fd47e480f/backend/api/index.js#L10)),
it will return `{ status: 'OK' }` ([Line 21](https://github.com/muke1908/chat-e2ee/blob/0a5d1

[2020-06-30 07:11] muke1908 opened #16 "Websocket : establish connection"
- [ ] Find the right library/service that should be used for the web-socket connection.
- [ ] Write utils in FE and BE to establish a connection between two clients based on the shared unique link.
- [ ] A message sent by a client should be delivered to the other client live on the link.

[2020-06-30 07:23] muke1908 opened #17 "Verify if the channel is valid - exits in db"
Write a controller `validateLink` in ` /backend/api/index.js` - `GET`

It should take `string` from the query param and check whether it exists in the db.
If it exists it should return `200` else `404` with some message.

Use the function `channelValid` at `backend/api/messaging/validateChannel.js`
[code]

[2020-07-01 09:39] #16 closed

[2020-07-01 13:08] muke1908 opened #19 "Validate link before sending message."
When the client make `POST` request to `/api/chat/send`, server publishes the message to the channel which is given in request body. The channel should be validated before publishing the message i.e check if the value (_channel_) exists in db.
Controller: `./backend/api/messaging/index.js`

Here the channel is the unique string that is generated at the starting of the chat session by requesting fr

[2020-07-03 07:48] muke1908 opened #20 "Create a reusable button component"
Please take design reference from #2
Create a react component for a button that should take the following as props.
 - label
 - type <primary|secondary> default: primary
 - state <active|disabled> default: active
 - onClick
 - width

[2020-07-04 09:09] #1 closed

[2020-07-04 18:37] #3 closed

[2020-07-19 06:07] gagan-aryan commented on #20
I want to take up this issue. But I am having trouble setting up the project. When I run the 3001 port it says "Cant serve production build in dev mode, please open react dev server".

[2020-07-19 06:44] muke1908 commented on #20
@gagan-aryan
When running, `npm run dev` you have to open localhost:3000 - react dev server should be running on this port.

[2020-07-19 09:37] gagan-aryan commented on #20
Hey! I am drowned in a plethora of errors. Can you please help me with this?
![Screenshot from 2020-07-19 15-05-27](https://user-images.githubusercontent.com/62807661/87871847-9bf39080-c9d1-11ea-9738-5bbea214273c.png)

[2020-07-19 09:56] muke1908 commented on #20
@gagan-aryan , looks like you already have webpack installed which is incompatible.
Did you try what steps it asking to follow? It should fix the issue.

1. delete package-lock.json both both `./package-lock.json` and `./client/package-lock.json`
2. delete node_modules - both ./node_modules and ./client/node_modules
3. Run npm install

[2020-07-19 10:44] gagan-aryan commented on #20
Yes, I tried doing that. I still get the same error.

[2020-07-19 14:06] muke1908 commented on #20
@gagan-aryan that's pretty sad! You might want to delete and then setup the project.
Make sure you are using the latest node.

[2020-07-21 05:50] gagan-aryan commented on #20
I setup the project again and reinstalled npm as well and then got the same error and followed the steps again. None of that helped, I have texted you on discord btw.

[2020-07-21 14:18] gagan-aryan commented on #20
I have opened a PR please review it.

[2020-07-21 19:45] muke1908 commented on #20
Closing the issue as done, thanks for your contribution!

[2020-07-21 19:45] #20 closed

[2020-07-22 05:09] gagan-aryan opened #24 "Replace the 'Generate Link' button with the reusable button component"
The home route contains a "Generate Link" button replace it with the reusable button component.

Location of the page: `/client/src/pages/chatlink`
Location of the button component: `/client/src/pages/chatlink/component/button.js`

The Button should be in the disabled state when [it's busy](https://github.com/muke1908/chat-e2ee/blob/f32faf1f1f8bea7f6857c46442766c1021ceab26/client/src/pages/chatlin

[2020-07-22 13:34] gagan-aryan commented on #2
I want to take up this issue. Can you guide me a bit?

[2020-07-22 14:38] #24 closed

[2020-07-22 15:13] #19 closed

[2020-07-22 15:28] muke1908 opened #26 "Create component for chat link display"
Create a react component that will take `content` as a prop.

Functionalities:
1. It'll have a copy button
2. Clicking on the copy button, the content will be copied to the clipboard.
3. If someone clicks on the text it should get selected.

Example:

![2020-07-22 18 27 06](https://user-images.githubusercontent.com/20297989/88195762-0f530780-cc49-11ea-94ca-9957816da496.gif)

[2020-07-22 15:28] muke1908 commented on #2
You can start with this https://github.com/muke1908/chat-e2ee/issues/26

[2020-07-22 21:46] gagan-aryan commented on #26
I am working on this issue and I am trying to use useRef hook to access copy the text inside the textarea but I am encountering the attached error.
![Screenshot from 2020-07-23 03-13-07](https://user-images.githubusercontent.com/62807661/88232056-d475c180-cc92-11ea-9fa6-0a38a6256ea8.png)

[2020-07-23 05:41] gagan-aryan commented on #26
Never mind, resolved.

[2020-07-23 11:03] gagan-aryan commented on #2
So just to clarify the generated link will no longer be a hyperlink, right?

[2020-07-23 13:22] gagan-aryan opened #28 "Update the readme.md with the instructions for captcha configuration"
The home route contains a captcha that needs to configured while setting up the development environment. Update the readme summarizing the below steps.

- Obtain key from the google captcha site.
- Create the .env files in the root and client directory.
- Use the relevant keys in both the .env files.

[2020-07-23 18:41] muke1908 commented on #28
https://github.com/muke1908/chat-e2ee/wiki/Captcha

[2020-07-23 18:41] #28 closed

[2020-07-23 18:41] #26 closed

[2020-07-24 14:07] #2 closed

[2020-07-25 09:44] muke1908 opened #31 "Messaging: Create a layout for messaging page"
When someone visits the generated link (#2), this page will open up.
Dir: `client/src/pages/messaging/index`

Check the attached image for reference.

---

This is just for the information **not in the scope of this issue** :
In this page following things will be handled:
 - Public key exchange
 - Storing public key in localStorage
 - Chatting interface

---

![chat](https://user-images.githubuser

[2020-07-25 19:59] gagan-aryan commented on #31
Getting the below error upon following the generated link.

[2020-07-25 21:07] muke1908 opened #33 "Display chat session statuses in UI"
Once clicked the chat link, following things happen.
1. It checks for the participant's public key. [getSetUsers](https://github.com/muke1908/chat-e2ee/blob/65ccf6fdb2852d885370787f0d01e343199fbee4/client/src/pages/messaging/index.js#L125)
2. It generates its key pair and shares the public key.  [exchangePublicKey](https://github.com/muke1908/chat-e2ee/blob/65ccf6fdb2852d885370787f0d01e343199fbee4

[2020-07-25 21:30] muke1908 opened #35 "Add github repo link"
in the landing page bottom text, add github repo link. https://github.com/muke1908/chat-e2ee
<img width="821" alt="Screen Shot 2020-07-26 at 12 25 35 AM" src="https://user-images.githubusercontent.com/20297989/88466647-23ac3400-ced7-11ea-9b89-c7da2fd7d06a.png">

[2020-07-26 07:55] muke1908 opened #37 "Messaging: component to display list of messages"
Create a component that accepts an array of objects as a prop where the objects represent one message block, and it should render the messages in a list view (Ref: attached image).
Example prop:
[code]
![chat (1)](https://user-images.githubusercontent.com/20297989/88474358-461d6c00-cf2e-11ea-95e0-53ff6fc9d576.png)

Note: The message block should align accordingly. If it's sent by you (i.e. `self:

[2020-07-26 07:56] muke1908 commented on #37
Blocked on: https://github.com/muke1908/chat-e2ee/issues/31

[2020-07-26 09:56] gagan-aryan commented on #37
What is the tool that is being used to create these ui designs?

[2020-07-26 10:13] muke1908 commented on #37
Figma https://www.figma.com/

[2020-07-26 10:27] #31 closed

[2020-07-28 16:51] #35 closed

[2020-07-28 17:16] #37 closed

[2020-07-28 17:24] muke1908 opened #43 "Messaging: Scroll down to bottom when there is a new message"
When the list of messages exceeds the height of the container, the new messages are not visible until scrolled. The container needs to scroll down for the following cases:

- [ ] When there is a new incoming message.
- [ ] When a new message is sent.

[2020-07-28 19:46] #43 closed

[2020-07-28 21:25] gagan-aryan opened #45 "Prevent the user from sending empty messages"
Currently, a user can send empty messages to the person he/she is chatting with. This might include an empty string(which is a message) or a message containing _only_  'n' number of spaces.

~Disable the send button as long as the person(the one sending the message) enters a non-empty message.~

Prevent submit for the empty message - let's just do `alert('Please enter your message')`
https://githu

[2020-07-29 05:58] muke1908 commented on #45
This needs to be handled both in frontend and backend.

Needs to validate here in the backed
https://github.com/muke1908/chat-e2ee/blob/dc79482a22df8a5cb53ff9b2eeaff95353110974/backend/api/messaging/index.js#L8

[2020-07-29 08:01] muke1908 opened #46 "Rename endpoint for sharing public key"
https://github.com/muke1908/chat-e2ee/blob/dc79482a22df8a5cb53ff9b2eeaff95353110974/backend/api/messaging/index.js#L20

`updatePublicKey` is misleading, change it to `sharePublicKey`

The change needs to be addressed in client as well : https://github.com/muke1908/chat-e2ee/blob/dc79482a22df8a5cb53ff9b2eeaff95353110974/client/src/service/publicKey.js#L4

[2020-07-29 08:04] muke1908 opened #47 "Validate channel before publishing message"
https://github.com/muke1908/chat-e2ee/blob/dc79482a22df8a5cb53ff9b2eeaff95353110974/backend/api/messaging/index.js#L8

The controller doesn't validate the channel. It should check whether the channel exists in db before publishing the message.

[2020-08-01 08:45] gagan-aryan opened #49 "Add a toggle option to swtich between light and dark mode"
Currently, the master branch contains a dark themed display. Add a toggle switch or an icon using which a user can switch between dark or light mode.

[2020-08-01 16:21] muke1908 opened #50 "Sound: when other user joins/leaves the chat session"
Add a sound notification for the following case:

- [ ] When the user joins the chat session
- [ ] When the user leaves the chat session

~Blocked on: https://github.com/muke1908/chat-e2ee/issues/51~

Use the Notification component:
https://github.com/muke1908/chat-e2ee/blob/master/client/src/components/Notification/index.js

[2020-08-01 16:23] muke1908 opened #51 "Audio component"
Create a react component that plays a sound based on the props.

[code]
This should play the audio file when play is true.
It should play again when the props change from `false` to `true`

[2020-08-03 14:43] jradha11 commented on #51
@muke1908 can I start working on this issue?

[2020-08-03 15:30] muke1908 commented on #51
@jradha11 Sure. Can you also assign yourself once you start?

[2020-08-03 16:02] gagan-aryan commented on #49
I am working on this issue. Can you assign this to me?

[2020-08-04 11:14] #51 closed

[2020-08-05 13:00] #50 closed

[2020-08-06 08:14] jradha11 commented on #45
@muke1908 can I start working on this issue?

[2020-08-06 11:22] muke1908 commented on #45
Sure!

[2020-08-07 06:35] muke1908 opened #54 "desktop: Add basic emoji support"
For non-mobile devices, add support for emoji.

- Create a util function that detects whether it's a mobile device or not.
- If not a mobile device, add a row of basic emojis right above the text area. (Chat page)

[2020-08-08 05:09] muke1908 commented on #46
Closed by https://github.com/muke1908/chat-e2ee/pull/55

[2020-08-08 05:09] #46 closed

[2020-08-08 06:35] #47 closed

[2020-08-08 14:34] #17 closed

[2020-08-08 18:41] muke1908 opened #57 "test issue"

[2020-08-08 18:42] muke1908 commented on #57
@all-contributors please add @jakebolam for infrastructure, tests and code

[2020-08-08 18:46] #57 closed

[2020-08-08 19:48] muke1908 opened #59 "Add image picker"
Allow users to attach image in chat.
Create _util_ function and applicable UI(Check the screenshot) that allow user to pick an image and return `base64`
Asset attached.

Util reference: https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL

![Untitled](https://user-images.githubusercontent.com/20297989/89718658-17d96b00-d9c9-11ea-93d6-139ecf01fca2.png)

Asset:
![asset](https://

[2020-08-11 09:40] muke1908 opened #60 "Button to retry fetching public key"
Show a button:
-When a user joins the session, we try to get its public key  [on join](https://github.com/muke1908/chat-e2ee/blob/e08a23673a24cd41967c9d2d4dadb4ed1b39f0bf/client/src/pages/messaging/index.js#L185)

-In case, there is no key available at that moment or the request fails, show a button at the top that will allow the user to fetch the key again. Ref attached image.

-When someone clic

[2020-08-11 10:44] gagan-aryan opened #62 "Button remains enabled even after the verification gets expired"
Even after the expiry of captcha the Generate Link Button stays enabled but it should get back to disabled state since the user has to verify again.

![issue2](https://user-images.githubusercontent.com/62807661/89888397-80a12d00-dbed-11ea-900c-e7da5a5a547f.png)

[2020-08-11 14:30] zygisS22 commented on #54
Can i try this one?

[2020-08-11 14:38] muke1908 commented on #54
@zygisS22 Sure!

[2020-08-11 14:54] encrypted-soul opened #63 "Button to decrypt the encrypted messages."
Once the browser is reloaded the sent messages get transformed to their hashed form. Prevent this from happening.

Before reload
![issue3](https://user-images.githubusercontent.com/62807661/89912816-9e33be00-dc10-11ea-9943-202c59c7044e.png)

After reload
![issue4](https://user-images.githubusercontent.com/62807661/89912847-a7248f80-dc10-11ea-9752-183d1cbe4203.png)

[2020-08-11 15:01] muke1908 commented on #63
@gagan-aryan it's kind of intentional for following reasons:
1. Decryption is quite a computation heavy.
2. Messages in the app are meant to be short-lived.
3. In any case if the key pairs are changed, we can't decrypt the message anyway.

Suggestion for better UX:
A button can be attached to each message block, if clicked on it, it'll try to decrypt the message with current key pair - if succeed

[2020-08-11 15:18] aUsefulMethod commented on #59
I'd like to attempt working on this, if that is ok?

[2020-08-11 15:23] muke1908 commented on #59
@aUsefulMethod Sure!

[2020-08-11 15:31] gagan-aryan commented on #63
3. Could you elaborate on the third point? Because my understanding is that public and private key are generated only once. Isn't that the case? Does the private key keeps changing?

For UI - Can we also add an alert message when someone tries to reload the page that would say that the messages would henceforth, be seen in their encrypted form?

[2020-08-11 15:48] muke1908 commented on #63
Yes, it's generated only once at the beginning of every chat session.  **If changed** or **lost**, previously encrypted messages with the old key cant be decrypted.  - which is expected behavior.
---
On refresh, the client will still have the keys and technically would be able to decrypt.  But on refresh, decrypting all messages at one shot will be heavy on client-side.

[2020-08-11 16:02] gagan-aryan commented on #63
Okay, I got it.
So what is the final UI we will be implementing then?

[2020-08-11 18:12] gagan-aryan commented on #63
We can even simply clear all the previous messages once we reload

[2020-08-11 18:26] muke1908 commented on #63
That can be misleading. Let's add a button to decrypt which will try to decrypt the message with the existing key. I'll update the issue with more detail info.

[2020-08-12 18:21] muke1908 opened #65 "Save theme settings in localStorage"
The theme can be toggled between light and dark - however, it doesn't store the state hence becomes dark on refresh. Save the selected theme in localStorage for better UX.

Use the util function at client/src/utils/storage.js
Toggle component: https://github.com/muke1908/chat-e2ee/blob/master/client/src/components/ThemeToggle/index.js

[2020-08-12 18:21] muke1908 commented on #49
Follow up issue: https://github.com/muke1908/chat-e2ee/issues/65

[2020-08-12 18:21] #49 closed

[2020-08-12 18:35] muke1908 commented on #63
Let's have a button for the messages that are in an encrypted format.
Based on the encrypted flag at
https://github.com/muke1908/chat-e2ee/blob/b67523213a58b2e9bd156fbd0c232706c090f50e/client/src/pages/messaging/index.js#L215
needs to show the button.

![decrypt](https://user-images.githubusercontent.com/20297989/90053498-41ed9e80-dce3-11ea-99b3-7b391f2ef037.png)

[2020-08-13 05:08] gagan-aryan commented on #65
Haven't played around with localStorage. Can I take up this issue?

[2020-08-13 06:10] muke1908 commented on #65
@gagan-aryan sure!

[2020-08-13 09:43] muke1908 opened #66 "Code smell: Rename "loadScript.js" file to "loadJS.js""
https://sonarcloud.io/project/issues?id=muke1908_chat-e2ee&issues=AXOMogkpaTtxhThidclw&open=AXOMogkpaTtxhThidclw

[2020-08-13 09:45] muke1908 opened #67 "Code smell: Rename "request.js" file to "makeRequest.js""
https://sonarcloud.io/project/issues?id=muke1908_chat-e2ee&issues=AXOMogkdaTtxhThidclv&open=AXOMogkdaTtxhThidclv

[2020-08-13 12:30] #45 closed

[2020-08-14 12:54] #13 closed

[2020-08-14 16:19] AudreyKj commented on #59
@aUsefulMethod  are you still working on it?  otherwise, I'm also happy to do it!

[2020-08-14 16:21] AudreyKj commented on #67
@muke1908 is this still open? i'm happy to work on it if it is

[2020-08-14 16:21] AudreyKj commented on #66
is this still open? @muke1908 i'm happy to work on it

[2020-08-14 16:23] muke1908 commented on #66
@AudreyKj Sure!

[2020-08-14 16:23] muke1908 commented on #67
@AudreyKj Sure!

[2020-08-14 16:39] aUsefulMethod commented on #59
Sure, go ahead :)

[2020-08-14 18:20] AudreyKj commented on #67
@muke1908 done :)

PR: https://github.com/muke1908/chat-e2ee/pull/70

[2020-08-14 18:25] #67 closed

[2020-08-14 20:07] AudreyKj commented on #7
@muke1908 is this still open? I love CSS and would love to work on this!

[2020-08-14 21:16] #66 closed

[2020-08-14 21:17] muke1908 commented on #7
@AudreyKj
I would love to understand how are you going to approach this as well :)

[2020-08-14 21:41] AudreyKj commented on #7
@muke1908 yeah i was thinking about it and it would be great to have more info:
- does the project have design prototypes?
- where would this style guide live in the project? in the root folder? in /public?

[2020-08-15 04:34] DarkSouL11 commented on #62
@gagan-aryan  @muke1908 I am picking this up

[2020-08-15 05:12] #62 closed

[2020-08-15 05:14] muke1908 commented on #62
@all-contributors please add @DarkSouL11  for infrastructure and code

[2020-08-15 07:58] DarkSouL11 opened #77 "Improve auto scroll experience for chat messages"
Auto scroll to new message should happen in the following scenarios
- [x] Whenever user sends a message
- [x] Whenever user receives a message and he is currently at the bottom of the message list

Auto scroll to new message should not happen in the following scenarios
- [ ] User is reading old messages(i.e, is not scrolled to the bottom of chat window). In this case we can show an indicator which

[2020-08-15 13:43] gagan-aryan opened #79 "Set captcha theme based on the site theme"
Currently, the captcha is always seen in its dark version and doesn't change its theme upon pressing the toggle button. Correct this behavior and make it consistent with the theme.

Get mode and pass appropriately.
`const [darkMode] = useContext(ThemeContext);`
https://github.com/muke1908/chat-e2ee/blob/afe9735828ad8819d4518119f9150e282113d296/client/src/pages/chatlink/captcha.js#L10

[2020-08-15 15:03] #65 closed

[2020-08-15 15:27] gagan-aryan commented on #54
@zygisS22 are you still working on this? Mind if I give it a shot?

[2020-08-15 16:41] zygisS22 commented on #54
yeah sure, i been busy with work unfortunately haven't done much yet 😞

[2020-08-16 10:14] #59 closed

[2020-08-16 10:25] muke1908 opened #82 "Create an image component."
Create a react component that should take the following as props
 - src (source of the image)
 - maxHeight
 - maxWidth

It should maintain the aspect ratio of the image while not exceeding max height and max width.

[2020-08-16 15:04] AudreyKj commented on #79
just fixed this: https://github.com/muke1908/chat-e2ee/pull/83

[2020-08-16 15:29] muke1908 commented on #79
@AudreyKj thanks! merged

[2020-08-16 15:49] muke1908 commented on #79
@AudreyKj re-opening the issue as it's not working as expected.
Looks like it doesn't re-render if it's already loaded. Need to investigate.

[2020-08-16 19:36] jessiematias commented on #82
Can I give this a shot?

[2020-08-16 19:43] muke1908 commented on #82
@jessiematias Sure!

[2020-08-17 13:13] AudreyKj commented on #33
can i work on this?

[2020-08-17 13:27] muke1908 commented on #33
Hi! Can you take a look on this first https://github.com/muke1908/chat-e2ee/issues/79?

[2020-08-17 13:32] AudreyKj commented on #79
will look into it as well - it might be that captcha buttons need page refresh to re-render.

[2020-08-17 13:34] AudreyKj commented on #33
sure!

[2020-08-17 16:28] AudreyKj commented on #79
just worked on it and found a solution: https://github.com/muke1908/chat-e2ee/pull/84

[2020-08-18 07:54] #79 closed

[2020-08-18 10:26] muke1908 opened #85 "Remove duplicate property from css"
https://sonarcloud.io/project/issues?id=muke1908_chat-e2ee&issues=AXOjmn81ijryR0MKnQeU&open=AXOjmn81ijryR0MKnQeU

[2020-08-19 12:08] jradha11 commented on #82
@jessiematias are you still working on this issue??

[2020-08-19 13:06] muke1908 commented on #82
@jradha11 In case this issue is taken you might take a look at https://github.com/muke1908/chat-e2ee/issues/63

[2020-08-19 13:21] jessiematias commented on #82
@jradha11 yes, working on it

[2020-08-20 23:16] imlaxman commented on #85
I will work on this

[2020-08-21 00:11] imlaxman commented on #85
https://github.com/muke1908/chat-e2ee/pull/86

[2020-08-21 00:18] imlaxman commented on #85
submitted fore review

[2020-08-21 03:33] muke1908 commented on #85
Closed by https://github.com/muke1908/chat-e2ee/pull/86

[2020-08-21 03:33] #85 closed

[2020-08-21 03:34] muke1908 commented on #85
@all-contributors please add @imlaxman  for code

[2020-08-21 03:39] muke1908 opened #88 "UI Issue: button text color should be white"
In light theme mode, the button text color should be _white_ for better readability.

[2020-08-21 03:56] muke1908 opened #89 "Basic image sharing support"
1 - Write a handler at,
https://github.com/muke1908/chat-e2ee/blob/6736fa8016cff4ed9286bbab824e5bfe3e91fb9f/client/src/components/Messaging/NewMessageForm.js#L29

2 - and use imagePicker to get base64 string of the image and pass it to parent and store it in state (similar to text message).
https://github.com/muke1908/chat-e2ee/blob/master/client/src/utils/imagePicker.js

3- Modify the handleSubmi

[2020-08-22 18:13] muke1908 opened #93 "White background is visible in dark theme."
In dark theme, the bottom part should also be dark not white.

<img width="720" alt="Screen Shot 2020-08-22 at 9 10 46 PM" src="https://user-images.githubusercontent.com/20297989/90962876-12e1e480-e4bc-11ea-88ec-48af5c1a4ba1.png">

[2020-08-22 19:08] muke1908 opened #94 "Messaging: Preview picked image"
In messaging page, display the image when picked for sending.

Ref: https://github.com/muke1908/chat-e2ee/blob/6e27e36a1efe3321c16f754b2cb097a9276f2e88/client/src/components/Messaging/NewMessageForm.js#L30

Lets abstract _image selection and preview_ as a separate component.  Use the `Image` component (`components/Image/`) to display the image.

Design suggestion:
<img width="808" alt="Screen Shot

[2020-08-22 20:05] muke1908 opened #95 "Add additional attributes while saving chat link in db."
Add the following properties while inserting link data:
https://github.com/muke1908/chat-e2ee/blob/6e27e36a1efe3321c16f754b2cb097a9276f2e88/backend/api/index.js#L34

[code]

Address the required changes in `validateChannel` function i.e. it should also check the link is not expired and deleted - https://github.com/muke1908/chat-e2ee/blob/6e27e36a1efe3321c16f754b2cb097a9276f2e88/backend/api/messagi

[2020-08-23 09:51] sakshianand opened #96 "Instructions to setup environment for development"
MONGO_URI=mongodb+srv://<username>:<password>@cluster0-zbsik.mongodb.net
MONGO_DB_NAME=''"
CHAT_LINK_DOMAIN=''"

Where to generate these from? This is required to setup the dev environment.
@muke1908 Can you help me out?

[2020-08-23 12:54] #95 closed, assigned to nafees87n

[2020-08-23 13:29] muke1908 opened #100 "Change url structure for sharing and getting public key"
Let's use spinal-case instead of the camel case.

https://github.com/muke1908/chat-e2ee/blob/master/client/src/service/publicKey.js

 - chat/getPublicKey/?userId=${userId}&channel=${channel} -> chat/**get-public-key**/?userId=${userId}&channel=${channel}
 - chat/sharePublicKey ->  - chat/**share-public-key**

Make appropriate changes in the backend controller.  https://github.com/muke1908/chat-e2e

[2020-08-23 13:39] muke1908 opened #101 "Write an endpoint(DELETE) that mark the chat link as deleted"
Write a controller at https://github.com/muke1908/chat-e2ee/blob/master/backend/api/chatLink/index.js
DELETE - `/chat-link/delete/<hash>` - this will select the resource by hash and patch as `deleted: true`.

Example resource structure is:
[code]
Refer: https://github.com/muke1908/chat-e2ee/issues/95

[2020-08-24 04:43] muke1908 commented on #100
@all-contributors please add @tskull01 for code

[2020-08-24 04:43] #100 closed

[2020-08-24 18:53] nafees87n commented on #101
Should invalid links be updated or not?
`{
   expired:true,
   deleted:false
}`
In this case the link should be deleted or not?

[2020-08-24 19:02] muke1908 commented on #101
Yes, you are correct.

[2020-08-25 07:46] #101 closed

[2020-08-25 07:48] muke1908 commented on #101
@nafees87n can you also please document it in readme? https://github.com/muke1908/chat-e2ee#apis

[2020-08-25 08:47] muke1908 opened #106 "FIX: rest api url structure"
REST api endpoint should only point a resource. In url `verb`  should be avoided and should be used appropriate method instead.
ref: https://restfulapi.net/resource-naming/

example:

**Bad**:
POST -> /chat-link/generate
GET -> /chat-link/validate/:channel
POST -> /chat/send
DELETE -> /chat-link/delete/:channel

**Good**:
CREATE-> /chat-link/
GET -> /chat-link/status/:channel
POST -> /chat/message

[2020-08-25 08:52] muke1908 commented on #101
@nafees87n would you take a look at https://github.com/muke1908/chat-e2ee/issues/106 ?

[2020-08-25 09:31] nafees87n commented on #106
Okay
I'll do it

[2020-08-25 10:09] muke1908 commented on #96
https://github.com/muke1908/chat-e2ee/wiki/ENV-variables

[2020-08-25 10:09] #96 closed

[2020-08-25 11:20] #106 closed

[2020-08-27 08:15] AudreyKj commented on #94
hey! can i work on this?

[2020-08-27 09:53] muke1908 commented on #94
Hi @AudreyKj , @tskull01 already working on it. You can take a look at his PR https://github.com/muke1908/chat-e2ee/pull/108

[2020-08-27 12:45] muke1908 opened #109 "Add websocket to the project"
Add socket.io to both client and server.
In the scope of this issue, just create utilities that establish a connection between client and server.

[2020-08-27 13:40] AudreyKj commented on #7
@muke1908 is this still open?

[2020-08-27 14:08] muke1908 commented on #7
@AudreyKj Hi,this issue looks like not relevant anymore.

[2020-08-27 14:08] #7 closed

[2020-08-27 18:38] #94 closed

[2020-08-27 20:27] #89 closed

[2020-08-28 13:03] muke1908 opened #113 "Validate a channel before adding client to list"
When someone opens the chat link, we make a WebSocket connection and maintain a list of connected clients. We should only care about clients on a valid chat link.

https://github.com/muke1908/chat-e2ee/blob/e08a23673a24cd41967c9d2d4dadb4ed1b39f0bf/backend/socket.io/listeners.js#L4

It shouldn't add user to list if the channel is invalid. Validate using channelValid function
https://github.com/muke

[2020-08-28 13:05] muke1908 commented on #109
Related issue: https://github.com/muke1908/chat-e2ee/issues/113

[2020-08-28 13:05] #109 closed

[2020-08-28 13:09] muke1908 opened #114 "Store messages in session storage"
Earlier we were using pubnub, therefore we used to store the messages (encrypted) on pubnub server for a short time. As we replaced the pubnub completely, and not storing messages (encryped) on any server, just for a better UX store it in sessionStorage so that on refresh, the browser can load it locally and decrypt (try) it.

https://github.com/muke1908/chat-e2ee/blob/e08a23673a24cd41967c9d2d4dad

[2020-08-28 13:58] muke1908 opened #115 "handle disconnected/redundant clients"
In case the socket is not available in the current socket instance, send a disconnect event and remove it from the client list (The list that is maintained in memory.)

https://github.com/muke1908/chat-e2ee/blob/e08a23673a24cd41967c9d2d4dadb4ed1b39f0bf/backend/socket.io/index.js#L21

```if(!socket)```
->  delete the client form `clientRecord`
https://github.com/muke1908/chat-e2ee/blob/e08a23673a24

[2020-08-28 14:11] muke1908 opened #116 "Prevent more than 2 users in one chat session"
https://github.com/muke1908/chat-e2ee/blob/e08a23673a24cd41967c9d2d4dadb4ed1b39f0bf/backend/socket.io/listeners.js#L4

While joining chat, check no of client ([`getReceiverByChannel`](https://github.com/muke1908/chat-e2ee/blob/e08a23673a24cd41967c9d2d4dadb4ed1b39f0bf/backend/socket.io/clients.js#L22)) in the channel, prevent joining if there are already 2 clients.

-> In this case, send a differen

[2020-08-28 14:35] AudreyKj commented on #93
@muke1908 can i work on this? :)

[2020-08-28 15:54] muke1908 commented on #93
Hi @AudreyKj, looks like this issue is fixed.
If you are looking to do something visual you might look into this #60

[2020-08-28 15:54] muke1908 commented on #60
Asset:
![refresh](https://user-images.githubusercontent.com/20297989/91587788-eae0fe00-e95f-11ea-8d21-fd75871ec16c.png)

[2020-08-28 15:54] #93 closed

[2020-08-28 16:04] AudreyKj commented on #60
@muke1908 can i work on this? :)

[2020-08-28 16:06] muke1908 commented on #60
@AudreyKj Sure!

[2020-08-28 16:52] muke1908 opened #117 "Add imgur api integration"
https://apidocs.imgur.com/#c85c9dfc-7487-4de2-9ecd-66f727cf3139

Currently, there is the only [integration](https://github.com/muke1908/chat-e2ee/blob/master/backend/external/imagebb.js) that is https://imgbb.com/
Add support for imgur as well, let the developer choose the hosting.

[2020-08-28 18:14] muke1908 opened #118 "Allow user to remove image attachment."
Currently, there is no way to remove image attachment once it's selected. Add a cross button, clicking on that it should remove the image attachment.

Ref design:
![Untitled](https://user-images.githubusercontent.com/20297989/91602150-816aea80-e973-11ea-9f0f-07bbdb08b125.png)

[2020-08-28 18:22] muke1908 opened #119 "Allow user to delete chat link."
API:   `DELETE` -> `/chat-link/:channel`

https://github.com/muke1908/chat-e2ee/blob/e08a23673a24cd41967c9d2d4dadb4ed1b39f0bf/backend/api/chatLink/index.js#L47

Add a floating button to the [messaging page ](https://github.com/muke1908/chat-e2ee/blob/master/client/src/pages/messaging/index.js)

Once clicked, it should ask for confirmation, and on confirming it should make the call for deleting the

[2020-08-29 06:18] #54 closed

[2020-08-29 09:25] loneWarrior581 commented on #77
hello everyone i am intrested in contributing to this project so can anyone help me in setting up this project in my local machine as it is my first open source project.

[2020-08-29 09:32] muke1908 commented on #77
Hi @loneWarrior581,

Here are the instructions to setup the project:
https://github.com/muke1908/chat-e2ee#for-developers

[2020-08-29 10:24] gagan-aryan commented on #114
I would like to work on this @muke1908

[2020-08-29 10:35] gagan-aryan opened #122 "Add a button that would bring up the emoji row"
Currently, emoji row always stays on top of the message input bar. Add an emoji icon (button) next to the image picker that would bring up the emoji row instead of always having it on the top.

Messaging page route: `/chat/<link>`

Ref component file:
https://github.com/muke1908/chat-e2ee/blob/544f2c6fde6c2d50f3c4ad6c7e1ea3862a80d6ab/client/src/components/Messaging/NewMessageForm.js#L30

[2020-08-29 11:34] loneWarrior581 commented on #77
@muke1908  Sir I have set up the project on my computer and facing issues on how to bypass the front page to reach the chat section as the private link is not able to generate. Iwould be very keen if I would be solving some issues to make my **first contribution**.
![chat e2ee](https://user-images.githubusercontent.com/67538935/91635830-5044f580-ea19-11ea-958e-9b60e3af887f.PNG)

[2020-08-29 11:47] muke1908 commented on #77
@loneWarrior581 Looks like you have not configured the google captcha. Please go through this https://github.com/muke1908/chat-e2ee/wiki/Captcha

Instead of this issue, you start picking an issue from [good-first-issue](https://github.com/muke1908/chat-e2ee/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22)

[2020-08-29 14:37] loneWarrior581 opened #124 "Informing the user if someone joins the chat by giving a message in the chat section"
**When someone joins the chat the other person is not aware about his presence by giving a small message in the chat section**

 **Solution**
By initiating a small message saying _**someone just joined**_ in the chat section by the so called bot for the users already present in that room so that they can start conversation.

**Alternatives**
We can create a section in the room section so describin

[2020-08-29 14:51] muke1908 commented on #124
Hi @loneWarrior581, we show it on the top left corner. However, for better messaging, there is already an issue #33

![Screen Shot 2020-08-29 at 5 46 55 PM](https://user-images.githubusercontent.com/20297989/91639548-0e6b7d80-ea20-11ea-9c12-8127f936c265.jpg)

[2020-08-29 15:40] loneWarrior581 commented on #124
This type of UI would look better i think
![roomname](https://user-images.githubusercontent.com/67538935/91640548-fdc90080-ea3b-11ea-9c88-48edaa00c891.PNG)

[2020-08-29 21:53] loneWarrior581 commented on #77
### Help needed
@muke1908  sir I am getting an error while setting up it says : **MONGO DB ERROR!** although i have given the mongo db uri. And also what are the values to be given in the field **CHAT_LINK_DOMAIN=' '** and **MONGO_DB_NAME=' '**. Also I am not able to find the location of **IMAGE_BB_API_KEY** to be given .

[2020-08-29 22:11] muke1908 commented on #77
Hi @loneWarrior581
Get `IMAGE_BB_API_KEY` from https://api.imgbb.com/.

For mongodb, you have to create a database, that you have to assign to `MONGO_DB_NAME`.

What error are you getting anyway?

[2020-08-30 07:25] #113 closed

[2020-08-30 11:29] loneWarrior581 commented on #77
@muke1908  Sir I am not able to find the directory where the variable **IMAGE_BB_API_KEY** is located. And also how to make it possible to make instances so that they can communicate within the localhost for the _testing_ purpose in our local machine

[2020-08-30 12:41] muke1908 commented on #77
@loneWarrior581 `IMAGE_BB_API_KEY` is in './env` check [sample](https://github.com/muke1908/chat-e2ee/blob/master/.env.sample)

Run `npm install`, then run `npm run dev`.

[2020-08-30 15:00] loneWarrior581 opened #125 "Allow user to select only the images and not the other files to be sent"
The current version only allows the images(.jpg) files to be sent and not the pdf and docs but yet the user is able to select form the chat section.
**Solution**
Allow user to select only the the .jpg files and not other files

[2020-08-30 15:14] gagan-aryan commented on #125
@muke1908 is the secure image sharing already implemented?

[2020-08-30 15:20] muke1908 commented on #125
@gagan-aryan No, nothing is done yet.

[2020-08-30 18:24] Heisenberg399 commented on #122
Can I work on this?

[2020-08-30 18:38] muke1908 commented on #122
@Heisenberg399  sure!

[2020-08-31 08:36] nafees87n commented on #109
@muke1908 I am not able to understand the socket.io implementation referring the official docs. Can you help me ?

[2020-08-31 09:25] muke1908 commented on #109
Hi @nafees87n, all the socket related code is written in https://github.com/muke1908/chat-e2ee/tree/master/backend/socket.io

[2020-08-31 11:42] Ryuuko commented on #118
Hi! I would like to take part of it. But I have a probably stupid question....I can't load reCAPTCHA in my local host and therefore can't load the messaging page. So how can I run the messaging page in my local host, so that I can manipulate the button there?

[2020-08-31 11:48] Ryuuko commented on #118
Ok I've found the way out, simply just make a ID number like http://localhost:3000/chat/123/ hahahahaha
Can I work with this issue?

[2020-09-01 09:00] #116 closed

[2020-09-01 17:26] AudreyKj commented on #60
@muke1908 i'm working on this, but is there a ref on how the button should look like before loading?

[2020-09-01 17:30] muke1908 commented on #60
@AudreyKj , yes, I have added a design above.

[2020-09-01 18:04] Opyskoty commented on #117
Hi, can I please take a stab at this?

[2020-09-01 18:15] muke1908 commented on #117
@Opyskoty Hey sure!!

[2020-09-01 18:27] AudreyKj commented on #60
@muke1908 so the button will look like the design ref before and during loading, got it! sorry i got confused!

[2020-09-01 18:42] muke1908 commented on #60
While loading:

spin the button for better UX.
should not be clickable.

[2020-09-02 06:38] muke1908 opened #127 "Implement 'Delivery receipt'"
Show a "delivered" receipt for messages when it's delivered to the client.

If a message with id `x-y-z` is sent from client1, client1 should mark the message as delivered once the socket in client2 [receives](https://github.com/muke1908/chat-e2ee/blob/a5c87b9fd6d52ce727a7ce74734711235572ef69/client/src/pages/messaging/index.js#L206), send an event `message-delivered` to the client1 and display 'd

[2020-09-02 15:26] nafees87n commented on #115
Not able to understand this part

[2020-09-02 17:45] Narasimha1997 opened #128 "General features suggestion"
Provide a Dockerfile that will help users/contributors to quickly setup and test the app locally as a complete package. Providing a Dockerfile will also help us deploy the application on any machine, on cloud or on native metal.

Also try to separate frontend and backend as much as possible so that the frontend can be served by any static hosting solution and backend can be deployed as a managed c

[2020-09-02 18:30] muke1908 commented on #128
@Narasimha1997 Thanks for your suggestions!
Dockerizing - definitely it's something to work on.

The scope of this project is highly defined and limited (BFF architecture suits well), separating into FE and BE will create additional overhead. Based on the project scope, the backend doesn't fit in the microservice architecture.

There is some alternative idea for image sharing - https://github.com/

[2020-09-02 18:38] muke1908 commented on #115
I just realized this issue is invalid. It's actually handled in https://github.com/muke1908/chat-e2ee/blob/3cae4cefcc94604b6c018216ec40c7e85d98c25f/backend/socket.io/listeners.js#L38

[2020-09-02 18:38] #115 closed

[2020-09-03 06:17] muke1908 commented on #115
@nafees87n check if this is something you want to take a look on https://github.com/muke1908/chat-e2ee/issues/127

[2020-09-03 06:44] nafees87n commented on #115
@muke1908 I am already working on that issue. Would you please assign it to me

[2020-09-03 07:05] muke1908 commented on #115
@nafees87n write any comment on that issue (#127), then I would be able to assign you.

[2020-09-03 07:12] nafees87n commented on #127
I would like to work on it

[2020-09-03 08:38] muke1908 opened #129 "Create a component that deconstruct image by randomizing pixels"
- [ ] An util function that generates a unique sequence from 1 to given no. For example, if input is 4 -> possible output is: `[4,2,1,3]`

- [ ] Randomizing pixel:
 - If input image is 10x5 px, generate random sequence (1, 10).
 - the canvas element should randomize the pixel horizontally based on the generated sequence.
 - Once done, return base64.

Example:
Original image (5x3px):
[code]
if rand

[2020-09-03 08:40] muke1908 commented on #125
I have created an issue:
https://github.com/muke1908/chat-e2ee/issues/129

[2020-09-03 08:58] muke1908 opened #130 "Animate when new message appears"
When new message gets added to the list, animate it from _right-to-left_ or _left-to-right_  accordingly, and opacity from 0.8 o 1.

[2020-09-03 08:59] muke1908 commented on #60
@AudreyKj  this one https://github.com/muke1908/chat-e2ee/issues/130 might be interesting for you as well!

[2020-09-03 15:17] AudreyKj commented on #60
@muke1908  I just worked on this: https://github.com/muke1908/chat-e2ee/pull/133
(will tackle #130 once this merged!) thank you :)

[2020-09-03 15:22] muke1908 commented on #60
@AudreyKj Can you please resolve the conflicts https://github.com/muke1908/chat-e2ee/pull/133

[2020-09-03 15:28] AudreyKj commented on #60
@muke1908 done

[2020-09-04 07:16] #60 closed

[2020-09-04 15:08] loneWarrior581 commented on #125
@muke1908 Sir can you tell me where I can find the required file for the same

[2020-09-04 15:12] muke1908 commented on #125
@loneWarrior581 Hi I think it's pretty simple, just take a look at https://github.com/muke1908/chat-e2ee/blob/2cdbc97e69724f95d99d1b4624f13680847c947c/client/src/components/Messaging/ImagePicker/index.js#L21

[2020-09-04 15:52] StijnLammers commented on #119
I would like to take on this issue.

I am quite new to github and programming in general, and I'm not sure if this is the right place to ask this question. But when setting up the developer server I don't know what to put after CHAT_LINK_DOMAIN. I figured all the other stuff out but I'm stuck on this.

[2020-09-04 15:57] StijnLammers commented on #119
Thanks for you quick answer!

I was getting an error when generating the link and thought that this would fix it, but it didn't.
![Error Image](https://user-images.githubusercontent.com/52537077/92260329-060bba80-eed8-11ea-8327-8d9a62d3c823.png)
Any idea what this could be?

[2020-09-04 16:11] muke1908 commented on #119
@StijnLammers Did you configure the database (Mongodb) ?

[2020-09-04 16:48] StijnLammers commented on #119
I have, but I may have made some mistakes there.
I assumed I just needed a random db so I made one on mongodb with azure. I clicked "connect" and copied the link into the .env file, which looks like this: "mongodb+srv://<myaccname>:<myaccpassword>@cluster0.i12dp.azure.mongodb.net".

I made a collection and a db within that collection named chat, which is what I used to put behind MONGO_DB_NAME.

[2020-09-05 12:04] muke1908 commented on #119
if db name is chat, MONGO_DB_NAME=chat

[2020-09-05 16:29] loneWarrior581 commented on #125
@muke1908  sir I am getting issues while commiting the necessesary changes so can you help me the right way to make my commit.<br>
![cmd](https://user-images.githubusercontent.com/67538935/92309423-1056b300-efc3-11ea-9cc6-f14d2d0ee108.PNG)

[2020-09-05 21:49] loneWarrior581 opened #136 "Zooming the attached image when clicked"
**Problem**
When a image is being sent the content are not visible as the images are not been able to zoom <br>
**Solution**
We can add the the zooming functionality when clicked by the user:

If user clicks on the attached image, show it in larger size may be in a popup.

![91602150-816aea80-e973-11ea-9f0f-07bbdb08b125](https://user-images.githubusercontent.com/20297989/95174873-5457f600-07c3-11e

[2020-09-06 07:09] muke1908 commented on #136
@loneWarrior581 can you also add a screenshot for reference.

[2020-09-06 10:08] muke1908 commented on #125
@loneWarrior581 Hi, this is not error.
How are you trying to commit though?

[2020-09-06 10:24] loneWarrior581 commented on #125
@muke1908  sir I am using the usual way i.e. **_git commit -m"commit message"_** for making my commit but it gets stuck at this point. So can you tell me way to get out of this.

[2020-09-06 10:51] muke1908 commented on #125
@loneWarrior581 I am not sure why it's getting stuck for you. You might want to skip the hook by adding ` --no-verify`
`git commit -m"commit message"  --no-verify`

[2020-09-06 13:51] muke1908 commented on #125
@all-contributors please add @loneWarrior581 for code.

[2020-09-06 13:52] #125 closed

[2020-09-06 19:00] #127 closed

[2020-09-07 13:42] pmventura opened #139 "Error during `npm install`"
Here's the error message:

[code]

[2020-09-09 10:02] pmventura opened #141 "Opens too many chrome browser during `npm run dev`"

[2020-09-09 10:16] pmventura commented on #139
Not really an application issue but some network problem. Fixed it by restarting the router.

[2020-09-09 10:16] #139 closed

[2020-09-09 11:18] StijnLammers commented on #119
Alright I finally got it to work. It was some kind of network issue.

[2020-09-09 14:58] loneWarrior581 commented on #136
@muke1908 sir is the issue open

[2020-09-09 16:41] muke1908 commented on #136
Hi @loneWarrior581, yes it's still open.

[2020-09-12 17:44] Narasimha1997 commented on #128
Any plans to implement  `electron.js` client for desktop??

[2020-09-13 06:19] muke1908 commented on #128
@Narasimha1997 That would be a nice thing to have. But need to carefully plan a build process. Is there anything you already thought?

[2020-09-13 17:19] #130 closed

[2020-09-14 12:37] salonigoyal2309 commented on #122
hey , i am just starting with open source contributions and would love to work on this issue , is this issue still open ?

[2020-09-14 13:45] muke1908 commented on #122
@salonigoyal2309 sure!
Most likely @Heisenberg399 is not working on it.

[2020-09-14 15:41] muke1908 commented on #122
hi @Heisenberg399 ! can you confirm the above?

[2020-09-14 16:04] Heisenberg399 commented on #122
Yes @salonigoyal2309  you can go ahead...I am busy with my exams.

[2020-09-15 15:10] muke1908 commented on #122
@all-contribtors please add @salonigoyal2309 for code

[2020-09-15 15:12] muke1908 commented on #122
@all-contributors please add @salonigoyal2309 for code

[2020-09-15 17:14] nik2490 commented on #119
Is this issue open to work on @muke1908 ?

[2020-09-15 20:29] muke1908 commented on #119
Hi @nik2490, yes it's open. @StijnLammers can you please confirm?

[2020-09-15 21:12] #122 closed

[2020-09-15 21:13] #118 closed

[2020-09-16 04:22] Narasimha1997 commented on #128
As the first step, we can use `ipcRenderer` to render the react app in electron window. Later we can think of building a electron specific app.

[2020-09-16 04:51] Narasimha1997 commented on #128
As a quick setup we can use [nativefier](https://github.com/jiahaog/nativefier) while we build the electron app.

[2020-09-16 08:39] StijnLammers commented on #119
@muke1908 @nik2490 I can confirm

[2020-09-17 06:42] muke1908 commented on #128
nativefier looks pretty cool! Did you try it before?
In case you tried with this project, let's write a doc (in readme / wiki page) on: How to do it - Instruction, Setup, Installation etc.

[2020-09-17 13:11] Narasimha1997 commented on #128
Sure! I had tried nativefier for one of my projects. It worked pretty well. It just creates an electron native window and links to our website.

[2020-09-17 13:49] Narasimha1997 commented on #128
Able to generate the native binary. Made a PR as well.
#147

[2020-09-22 07:25] muke1908 commented on #141
Could not reproduce. Please re-open if it persists.

[2020-09-22 07:25] #141 closed

[2020-09-22 07:33] muke1908 opened #148 "Remove google captcha"
Remove google captcha dependency from the project.
Google captcha reportedly track user online that goes against the objective of this project. To prevent misuse/spam of link generation **rate limiter** is better alternative.

[2020-09-22 07:57] muke1908 opened #149 "Add timestamp to message"
While sending message add timestamp to the [message objec](https://github.com/muke1908/chat-e2ee/blob/169a1d984fd8e92744ae1de46eca4a2e6ca65fb4/backend/api/messaging/index.js#L33)t and display it on UI.

[2020-09-22 19:14] abhishek-aa commented on #149
Hi. I can get this done. I have worked with live chat using WebSockets. Please assign me this issue!

[2020-09-23 12:01] muke1908 opened #150 "Util function to return unique alpha numeric string of length 4"
The util function should take the uuid and return a **supposedly** unique alphanumeric string of length 4.

For example:

Input: b0f8c263-187e-41e9-b3be-213916875411
output: AS12

Suggested algorithm:
take input-> md5 hash-> 128bit output -> encode with base 36 -> take 4 characters randomly.

[2020-09-23 12:07] muke1908 opened #152 "Return PIN along with chat link"
This allows user to share the short PIN instead of long chat link. Other user can directly join the chat by entering PIN.

Add following to response object:
[code]

https://github.com/muke1908/chat-e2ee/blob/169a1d984fd8e92744ae1de46eca4a2e6ca65fb4/backend/api/chatLink/utils/link.js#L5

Blocked on: https://github.com/muke1908/chat-e2ee/issues/150

For now dummy function can be used to get 4 digit

[2020-09-23 12:17] muke1908 commented on #149
@all-contributors please add @abhishek-aa for code.

[2020-09-23 16:25] #149 closed

[2020-09-24 06:43] abhishek-aa commented on #152
Correct me if I am wrong but can't two chat links result in same 4 digit PIN?

[2020-09-24 07:10] muke1908 commented on #152
@abhishek-aa will be using this[ function ](https://github.com/muke1908/chat-e2ee/issues/150) to make sure that the PIN is unique for every chat link. We get around 1679616  combination (alpha numeric case in-sensitive) which is pretty decent.

[2020-09-26 05:43] muke1908 commented on #114
Hi @gagan-aryan, are you still working on it?

[2020-09-26 05:57] gagan-aryan commented on #114
No @muke1908 I am not working on this. Sorry for keeping it assigned for too long. A bit busy with the coursework 😅

[2020-09-26 06:47] muke1908 commented on #114
@gagan-aryan No worry!

[2020-09-28 06:27] Narasimha1997 commented on #152
Are you planning to add PIN expiry?

[2020-09-28 08:34] muke1908 commented on #152
Hi, @Narasimha1997  yes, PINs will be considered as expired after a certain period of time. Will create a separate issue for that.

[2020-10-01 04:32] manny525 commented on #119
Is this issue still open @muke1908 @StijnLammers?

[2020-10-01 06:44] manny525 opened #157 "Image picker and emoji picker icons not visible in light theme"
![chate2ee](https://user-images.githubusercontent.com/60325174/94776754-ee90f600-03df-11eb-8b98-605e77a98b6c.JPG)

Light black colored icons would be visible better.

[2020-10-01 06:58] muke1908 commented on #119
Hi @manny525! yes, it's still open.

[2020-10-01 07:13] muke1908 opened #159 "API: take PIN in request param and return link object"
write a controller (`GET` endpoint) that takes PIN and return valid link obj from db.

Let's assume PINs are valid for 30min. Hence, it will **NOT** return the link obj if currentTime - pinCreationTime > 30*60*1000 i.e. status `404`.

---

You'll have to write an API for example: GET- > /chat-link/<pin>
[code]
use util function `findOneFromDB` to find link by pin.

Ref file: https://github.com/muk

[2020-10-01 07:20] muke1908 opened #160 "UI: Join chat by entering PIN"
Create this section below the link generation section in the [index page](https://github.com/muke1908/chat-e2ee/blob/master/client/src/pages/chatlink/index.js)

- [ ] Provide an input box to enter PIN.
- [ ] Should be **Join button** next to the input box.
- [ ] On pressing join button it should call [API](https://github.com/muke1908/chat-e2ee/issues/159).
- [ ] If PIN is valid, redirect to the li

[2020-10-01 07:23] muke1908 opened #161 "UI: Show PIN along with the link."
After generating chat link, show the generated PIN as well in the [index page](https://github.com/muke1908/chat-e2ee/blob/master/client/src/pages/chatlink/index.js).
Also mention that the PIN is valid for 30min.
![Untitled](https://user-images.githubusercontent.com/20297989/94960749-0d84aa80-04fc-11eb-9ae4-c28a1322fb1c.png)

[2020-10-01 07:44] abhaybhatt commented on #161
@muke1908 i want to work on this issue?

[2020-10-01 07:52] #157 closed

[2020-10-01 07:52] muke1908 commented on #161
@abhaybhatt sure!

[2020-10-01 08:11] Narasimha1997 commented on #152
Maybe we can close this.

[2020-10-01 08:12] #152 closed

[2020-10-01 08:13] #150 closed

[2020-10-01 08:51] manny525 commented on #119
![chate2ee](https://user-images.githubusercontent.com/60325174/94788532-526fea80-03f1-11eb-83f1-0d82fe2f2ad7.JPG)

Not able to open the chat window after link generation.

[2020-10-01 11:12] manny525 commented on #119
Why is the link not being deleted from the database? Isn't it useless to keep the link after the deleted boolean has been marked true?

[2020-10-01 11:36] muke1908 commented on #119
@manny525 in general, deleting data is always **not recommended** - leads to inconsistency, potential data loss, difficulty in debugging and many more reason. So **soft delete** is always a better bet.

Although in the scope of this project, we can actually delete the links form database. But I would still suggest to keep it as we can at-least count how many links have been generated so far - give

[2020-10-01 11:42] aayushmau5 commented on #160
Hey @muke1908, may i work on this one ?

[2020-10-01 11:47] muke1908 commented on #160
@aayushmau5 Sure!

[2020-10-01 12:27] manny525 commented on #119
Alright,

[2020-10-01 16:16] yatharthMogra commented on #159
hey @muke1908, I am intrested in taking up this issue can you expand a little more

[2020-10-01 16:41] muke1908 commented on #159
Hi @yatharthMogra sure!
You'll have to write an API for example:  `GET`- > `/chat-link/<pin>`
[code]
use util function [findOneFromDB](https://github.com/muke1908/chat-e2ee/blob/f28a1eae86363f7f8754bc7298e93e0c480734ff/backend/db/index.js#L24) to find link by pin.

Most of the controllers are written here: https://github.com/muke1908/chat-e2ee/blob/master/backend/api/chatLink/index.js
You can take

[2020-10-01 17:05] #148 closed

[2020-10-01 17:42] nafees87n opened #164 "Message timestamp doesn't display leading zeroes"
![ chat2ee git issue](https://user-images.githubusercontent.com/56021937/94843869-f336c800-043a-11eb-9875-95ef375f635e.png)

[2020-10-01 17:43] nafees87n commented on #164
Did a PR just now.

[2020-10-02 02:37] Narasimha1997 commented on #129
@muke1908 , can I work on this??
Can you please define inputs and outputs more clearly.

[2020-10-02 07:54] aayushmau5 commented on #160
hey @muke1908, is there any component for input field, or should i make one myself? Also this Input and join button should be on the captcha page and Not in generated link page, right ?

[2020-10-02 08:13] muke1908 commented on #160
No, we don't have a re-usable component.

captcha page and Not in generated link page

Yes, it should be there before link is generated as you said captcha page. (However, captcha is removed)

[2020-10-02 08:36] muke1908 commented on #124
Closing - duplicate #33

[2020-10-02 08:36] #124 closed

[2020-10-02 09:15] #164 closed

[2020-10-02 11:06] muke1908 commented on #129
Hi @Narasimha1997 ,
this is completely experimental. I haven't tested this or tried it so no idea how would be the result of it.

---

Input will be any image - W x H, the output will be a de-structured image of the same height width.
Now, for image operation let's use canvas. example:
[code]

[2020-10-02 16:07] aayushmau5 commented on #160
Hey @muke1908, so we removed the captcha and now we are adding a PIN system. I have made an input component but the value of the text field is in its own component, any idea how i can "export" the value of the text field to the `index.js` file. I'm sorry but i'm kinda learning react, so forgive me if it sounds like a stupid question.

[2020-10-02 16:08] aayushmau5 commented on #160
![image](https://user-images.githubusercontent.com/54525741/94944889-859ca180-04f7-11eb-8a00-b54f445f52f2.png)

Also, Progress so far. Lemme know if you need any change. Though it is a WIP.

[2020-10-02 17:10] muke1908 commented on #160
Hi @aayushmau5, I am sorry I haven't attached any design earlier. Here is the suggested design, let's keep it simple and clean.
![Untitled](https://user-images.githubusercontent.com/20297989/94950399-40727280-04eb-11eb-9ab2-c36b3750ba9f.png)

[2020-10-02 17:13] muke1908 commented on #160
Hi, no problem! You can push your code to a branch and create a draft PR. Then I would be able to help you there.

[2020-10-02 17:17] aayushmau5 commented on #160
I'm using props to pass down the PIN. So it's all good. Also thanks for the design image.

[2020-10-02 18:02] aayushmau5 commented on #160
![image](https://user-images.githubusercontent.com/54525741/94954990-80dfe980-0507-11eb-9ee8-9d6db049ab83.png)

@muke1908 How's this ?

[2020-10-02 18:03] aayushmau5 commented on #160
So i made the input as well as button as a whole component. Now, is the API ready? We can then hook it up with the button.

[2020-10-02 18:06] muke1908 commented on #160
@aayushmau5 the api is not ready. But you can write the [service in client ](https://github.com/muke1908/chat-e2ee/tree/master/client/src/service) assuming the endpoint is GET - `/chat-link/<pin>`. for more look [ref issue](https://github.com/muke1908/chat-e2ee/issues/159)

[2020-10-02 18:22] vvkpd commented on #117
I would like to work on this card please let me know if no one is working on it.
Thanks

[2020-10-02 18:22] aayushmau5 commented on #160
Help me understand the routes. So i made this service. So what's happening here ? What's the route looks like to the server ?
[code]

Is `/chat-link/` equivalent to `/` ?

[2020-10-02 18:50] muke1908 commented on #160
@aayushmau5
In your code, you are making an api call to server - GET request. The endpoint looks like `/api/chat-link/<pin>` Check the function [makeRequest](https://github.com/muke1908/chat-e2ee/blob/d62c01ce3c4c85c682c3bb7f7b5b2a0806b6dc45/client/src/utils/makeRequest.js#L2)

In server, we are handling all requests at `/api/*` check [app.js](https://github.com/muke1908/chat-e2ee/blob/d62c01ce3c4

[2020-10-02 18:55] aayushmau5 commented on #160
Yup, i figured so. Here's the `GET` request handler i made.
[code]
I don't know what's `LINK_COLLECTION` doing but it's working. Tested by responding `pin`. Now, what should i do next ?

[2020-10-02 18:57] muke1908 commented on #160
`LINK_COLLECTION` is the collection name, defined at[ const.js](https://github.com/muke1908/chat-e2ee/blob/d62c01ce3c4c85c682c3bb7f7b5b2a0806b6dc45/backend/db/const.js)

Wondering how did you configure your mongo db?

[2020-10-02 18:58] aayushmau5 commented on #160
I'm using my own mongoDB instance. I had been working on some personal projects which required mongoDB so i made a mongoDB atlas database and used that.

[2020-10-02 19:04] aayushmau5 commented on #160
Now, what should i do next? I feel the API is kinda ready, we need to get the chat link based on the `PIN` and redirect the user to that link. I'm wondering how to get the chat link?

[2020-10-02 19:06] muke1908 commented on #160
` ``
const resp = await findOneFromDB({ pin: pin }, LINK_COLLECTION);`
return res.send(resp);
[code]

[2020-10-02 19:10] muke1908 commented on #161
@abhaybhatt in case you are working on it, you can take reference form the attached design.

[2020-10-02 19:13] muke1908 commented on #117
@vvkpd Hi, sure!
@Opyskoty most likely not working on it.

[2020-10-02 19:28] aayushmau5 commented on #160
Ok. so i was able to get the link. Now, how do i redirect to the link in react ? Sorry, still learning.

[2020-10-02 19:36] muke1908 commented on #160
You can use hook to get history.
`import { useHistory } from "react-router-dom";`

Inside component,

[code]

[2020-10-02 19:55] #159 closed

[2020-10-02 19:57] muke1908 commented on #160
@aayushmau5 https://github.com/muke1908/chat-e2ee/issues/159 is closed now, you might get some conflicts as you also wrote the same controller.

[2020-10-03 07:10] aayushmau5 commented on #160
Pretty cool. Hey, i'm getting a commit error. Something to do with `Husky`
[code]

What to do ?

[2020-10-03 07:22] muke1908 commented on #160
@aayushmau5 valid commit message would be something like:
`feat: "Add Join Chat By PIN Functionality"`

[2020-10-03 07:43] aayushmau5 commented on #160
I'm pretty sure it is working. Should i make a PR to the `master` branch ?

[2020-10-03 08:17] muke1908 commented on #160
@aayushmau5 sure!

[2020-10-03 08:23] aayushmau5 commented on #160
@muke1908 Please check. https://github.com/muke1908/chat-e2ee/pull/167

[2020-10-03 09:16] muke1908 commented on #160
@aayushmau5 left a few comments.

[2020-10-03 09:50] #160 closed

[2020-10-03 12:17] manny525 commented on #161
Is this issue still open or a pull request has been generated?

[2020-10-03 12:20] muke1908 commented on #161
@manny525 Not sure whether @abhaybhatt is working on it or not.
Hi @abhaybhatt can you please confirm?

[2020-10-04 14:22] Narasimha1997 commented on #129
@muke1908 , won't this be slow for larger image resolutions?? One direct way of encryption will be to encrypt the bytes data directly instead of decoding and shuffling at pixel level. A typical 1080p JPEG image would be only 300KB of data, but when decoded it results in almost 6MB of data, also a matrix of 1920x1080 require 1920 shuffle operations which can be computationally expensive

[2020-10-04 14:57] gabrielatricak commented on #136
Hi I would like to work on this for a school project. Can I be assigned to this?

[2020-10-04 16:58] muke1908 commented on #136
@gabrielatricak hi, yes sure!

[2020-10-04 17:08] muke1908 commented on #129
@Narasimha1997 Hi definitely we can encrypt the image traditionally. But this was to bypass the encryption process yet keep it hidden over the internet - and, shuffling 1920 times would be much faster compared to encrypting->sending->decrypting process.

As I said earlier it can be considered as just a fun experiment, I have no idea how the result will be.

[2020-10-04 17:18] Narasimha1997 commented on #129
@muke1908 , how this is secure?

[2020-10-04 17:56] muke1908 commented on #129
As far as I know, vectorizing is not possible in javascript on v8 runtime.
On the browser, we can't really do that stuff parallelly rather concurrently so in any case, it'd be O(n)

Encryption is a full-proof technique in terms of security - no doubt. But my thought was not to go through the encryption process. Also, the de-structuring - re-structuring image on the client-side allows us to add a f

[2020-10-04 18:41] gabrielatricak commented on #136
I have some issues with database: when i try to run with npm run dev I get Mongo DB Error and when I opened localhost:3001 i got blank page only with: cant serve production build in dev mode, please open react dev server

Získajte Outlook pre iOS<https://aka.ms/o0ukef>
________________________________
Od: Mukesh <notifications@github.com>
Odoslané: Sunday, October 4, 2020 6:58:25 PM
Komu: muke1908

[2020-10-04 19:53] muke1908 commented on #136
You have to setup mongodb. You can get one instance for free from
https://www.mongodb.com/
If you find any difficulties in setting up mongo let me know.

On Sun, Oct 4, 2020 at 9:42 PM gabrielatricak <notifications@github.com>
wrote:

[2020-10-04 20:25] gabrielatricak commented on #136
Yep i have done that, i created a cluster, user, added ip adresses, and then connected cluster through mongo shell ... but still the same .. i've also created a .env inside my chat-e2ee folder and added all information
________________________________
Od: Mukesh <notifications@github.com>
Odoslané: nedeľa 4. októbra 2020 21:53
Komu: muke1908/chat-e2ee <chat-e2ee@noreply.github.com>
Kópia: Gabriela

[2020-10-05 01:20] Narasimha1997 commented on #129
@muke1908  yeah! That would be a good feature

[2020-10-05 06:24] muke1908 commented on #136
You don't need to connect it from mongo shell.
Just add those in your .env It will look like ->
MONGO_URI=mongodb+srv://<username>:<password>@cluster0-zbsik.mongodb.net

Also, make sure, your IP address is whitelisted in mongodb.com admin
dashboard. In case you can't set it up drop me a mail at mukeshbsws[at].
gmail.com I'll share the required keys.

On Sun, Oct 4, 2020 at 11:25 PM gabrielatricak

[2020-10-05 06:48] muke1908 commented on #129
Also, I don't think pixel by pixel shuffling is not required. For example, an image of 1980*1980 can be distorted by shuffling 100 * 100 pixels - which is 198 * 198 iteration.  But need an optimized algorithm to choose the right block based on the image size.

[2020-10-06 18:04] pavan5555 commented on #161
Hi, I would like to work on this issue, is this still open ?

[2020-10-06 19:20] muke1908 commented on #161
Hi @pavan5555 please check with @manny525 once.

[2020-10-06 21:20] pavan5555 commented on #161
Hey @manny525 are working on this ?

[2020-10-07 00:58] pavan5555 commented on #161
Hi @muke1908  I just submitted a PR for this issue, I am new to the code contribution thing, I can't link the issue and the PR.

[2020-10-07 10:26] #119 closed

[2020-10-07 11:13] manny525 commented on #161
No, i'm not

[2020-10-08 04:02] manny525 commented on #136
@muke1908 do you mind assigning this to me?

[2020-10-08 06:02] muke1908 commented on #136
Hi @manny525 , @gabrielatricak is already working on it.
You can take a look at #114

[2020-10-08 07:05] muke1908 opened #170 "Feature: Allow to lock a chat room"
Allow user to lock a chat room - which will essentially block any other user to join the chat by clicking on the link.
- If a room is locked, the user will have to enter a PIN (that was generated while link generation).

[2020-10-08 07:23] muke1908 opened #171 "UI: Fix alignment of buttons and text"
The delete button and theme toggle should be vertically aligned.
<img width="817" alt="Screen Shot 2020-10-08 at 10 22 45 AM" src="https://user-images.githubusercontent.com/20297989/95427499-5602f480-0950-11eb-98cd-37b889493119.png">

<img width="356" alt="Screen Shot 2020-10-08 at 10 25 07 AM" src="https://user-images.githubusercontent.com/20297989/95427740-b3974100-0950-11eb-8a01-3455f24a1713.pn

[2020-10-08 07:49] aspanaich commented on #171
Hi @muke1908 , I would like to work on this issue.

[2020-10-08 07:55] muke1908 commented on #171
@aspanaich sure!

[2020-10-08 08:06] manny525 commented on #136
Sure. I'll have a look at it.

[2020-10-08 08:34] muke1908 commented on #33
Closing as it became irrelevant

[2020-10-08 08:34] #33 closed

[2020-10-08 10:56] aspanaich commented on #171
@muke1908 , Does this look alright?

Desktop view -
![desktop-view](https://user-images.githubusercontent.com/37369247/95449628-ab57f980-0982-11eb-8c0b-af30ad56ab46.png)

Mobile view -
![mobile-view](https://user-images.githubusercontent.com/37369247/95449633-ac892680-0982-11eb-9b3f-231455dac5c1.png)

[2020-10-08 11:07] muke1908 commented on #171
Yes, looks great!

[2020-10-08 12:08] #171 closed

[2020-10-08 19:29] #161 closed

[2020-10-08 20:04] pavan5555 commented on #114
hey! anyone working on it ?

[2020-10-08 20:10] muke1908 commented on #114
@pavan5555 I don't think so. You can take it if you want.

[2020-10-08 20:12] pavan5555 commented on #114
@muke1908 Awesome! I will work on this then.

[2020-10-09 07:12] muke1908 opened #173 "Link/Pin sharing UI modification"
- Show the link and PIN in the same row (50% each, for screen <640px make it 100%) - to give both the options an equal priority.
 - Please make sure, _Join with a PIN_ section is **not** visible when the link is generated.

![Untitled](https://user-images.githubusercontent.com/20297989/95553557-7b0e6a80-0a17-11eb-9c52-fd4d5115d1ee.png)

[2020-10-09 20:15] gagan-aryan commented on #129
@muke1908 I guess randomizing pixel should be another utility function, right?

[2020-10-15 09:18] dediacc opened #175 "CHAT_LINK_DOMAIN in .env?"
Hi, I am a first timer.
I just forked the repo. What should I fill CHAT_LINK_DOMAIN in my .env file?

[2020-10-15 09:39] muke1908 commented on #175
Generally, it's `https://localhost:3000`

[2020-10-15 09:50] dediacc commented on #175
it works 👍

[2020-10-15 09:50] #175 closed

[2020-10-17 14:29] #173 closed

[2020-10-18 07:27] muke1908 opened #177 "Correct text instruction"
After generating link, it show's **Anyone with the PIN also can join the chat**

Change it to: Anyone with the **PIN** or the **Link** can join your chat

[2020-10-18 14:02] Kishore-abhimanyu commented on #177
can you assign this to me?

[2020-10-18 14:10] #177 closed

[2020-10-18 14:13] Kishore-abhimanyu commented on #177
can you please add hacktoberfest accepted tag?

[2020-10-18 14:16] Kishore-abhimanyu commented on #177
can you please add *hacktoberfest-accepted* tag?

On Sun, Oct 18, 2020 at 7:41 PM Mukesh <notifications@github.com> wrote:

[2020-10-19 11:16] muke1908 commented on #136
Hi @gabrielatricak, just wanted to confirm if you are working on it.

[2020-10-19 11:20] gabrielatricak commented on #136
Hi, yes I am still working on it. I think today or tommorow I will be done.

Získajte Outlook pre iOS<https://aka.ms/o0ukef>
________________________________
Od: Mukesh <notifications@github.com>
Odoslané: Monday, October 19, 2020 1:16:38 PM
Komu: muke1908/chat-e2ee <chat-e2ee@noreply.github.com>
Kópia: Gabriela Tričáková <gabriela.tricakova@student.tuke.sk>; Mention <mention@noreply.github.com>
P

[2020-10-19 12:03] code-star-1 commented on #117
Can I take this issue?

[2020-10-19 12:15] muke1908 commented on #117
@code-star-1 sure!

[2020-11-06 16:11] naveen8801 commented on #136
hi @muke1908 , i am new to open source and wanna contribute , i found this issue suitable for me , would you assign it to me ?

[2020-11-06 17:49] muke1908 commented on #136
@naveen8801 Sure.
@gabrielatricak worked on it earlier and (s)he already implemented the basic zoom feature. You can check and improve UI/UX if you have anything in mind.

[2020-11-07 06:01] naveen8801 commented on #136
@muke1908 sure , thanks .

[2020-11-14 22:43] carmonaalex12 commented on #117
I'd like to take a crack at it!

[2020-11-15 08:35] muke1908 commented on #117
@carmonaalex12 sure!

[2020-11-25 06:42] AudreyKj commented on #77
@DarkSouL11 hey! Can I work on this?

[2020-11-25 07:10] DarkSouL11 commented on #77
@AudreyKj Yeah sure. @muke1908 I believe this is not picked by anyone yet

[2020-11-25 12:55] AudreyKj commented on #77
ok!

[2020-12-12 02:39] badcaptcha commented on #117
Hasn't been an update in awhile, can I give it  try?

[2020-12-12 06:38] muke1908 commented on #117
@badcaptcha hi! Sure, go ahead

[2020-12-14 16:45] Hassan-Ib commented on #114
Hey  @muke can I work this

[2020-12-14 16:46] muke1908 commented on #114
@Hassan-Ib cool, go ahead!

[2020-12-18 15:22] GJ-16 commented on #117
Hey, can you please tell me what has to _be done briefly_ ? May be I can work on this.

[2020-12-19 21:02] muke1908 commented on #117
Hi, may be you can look into existing integration https://github.com/muke1908/chat-e2ee/blob/master/backend/external/imagebb.js

Similarly, you can implement Imgur API integration https://apidocs.imgur.com/#c85c9dfc-7487-4de2-9ecd-66f727cf3139

[2020-12-20 03:57] GJ-16 commented on #117
Hey sure, I'm on it.

[2020-12-20 06:56] GJ-16 commented on #117
@muke1908 Mate, I have some doubts.
__1.__ I replaced the existing imgbb with imgur. But you state

How to do that?

__2.__ I have integrated just the anonymous part as per this link you provided

Is this fine or do I need to do Authorization as well?

[2020-12-20 08:35] muke1908 commented on #117
@GJ-16 authorization is not required.

[2020-12-21 03:29] GJ-16 commented on #77
Hey, can anybody tell me how to approach this? if no one is working I'll give a try.

[2020-12-21 08:51] #117 closed

[2020-12-21 09:21] GJ-16 commented on #136
@muke1908 Do you have any suggestion?

[2020-12-21 16:23] #128 closed

[2021-01-14 14:16] mamamia5x opened #186 "Mobile Support?"
I don't know if it works on mobile, but whenever I try to get someone to join from their phone and it doesn't work.
It'll be nice to have the ability, but it may just be a safari thing.

[2021-01-14 14:24] muke1908 commented on #186
@mamamia5x thanks for reporting. It ideally should work on mobile, I will check though.

[2021-01-14 14:31] mamamia5x commented on #186
Alrightm thanks.

[2021-01-21 13:40] J-16 commented on #186
Hey @mamamia5x,

Can you say what you mean by not working? Is that the UI not fitting into the mobile? I mean the input field, emoji icon and send button?

[2021-01-21 14:09] muke1908 commented on #186
@J-16 I checked, and the messaging page is kind of broken - the send button is not visible in some smaller devices.

[2021-01-21 14:12] J-16 commented on #186
Hey @muke1908,

I completed that, will do a pull request now. But I couldn't handle the send button when the image is selected.

[2021-01-21 14:13] muke1908 commented on #186
Sure. You can open the PR. I'll work on that.

[2021-01-21 14:42] J-16 commented on #186
@muke1908, Done.

[2021-01-22 13:45] mamamia5x commented on #186
Sorry for not responding, but it looks to be working fine now. Thanks.

[2021-01-22 13:45] #186 closed

[2021-01-29 14:24] Hassan-Ib commented on #114
hey @muke1908  , l just want to know if i get this right , so  on message received  - it should be stored in session storage right?

[2021-01-29 14:26] muke1908 commented on #114
Hi @Hassan-Ib, yes,  it's correct!

[2021-01-29 14:43] Hassan-Ib commented on #114
i am having issue is the 3001 and also can you help me out with .env.sample configuration ... i don't know anything about that .. i don't know what it does

[2021-01-29 14:44] Hassan-Ib commented on #114
MONGO DB ERROR!
i get when i run "npm run dev"

[2021-01-29 14:44] muke1908 commented on #114
@Hassan-Ib can you share more detail about the error that you are getting?

[2021-01-29 14:45] muke1908 commented on #114
@Hassan-Ib So have you create a mongo db instance. You can create one for free here https://www.mongodb.com

[2021-01-29 14:56] Hassan-Ib commented on #114
i have never worked with mongoDb before

[2021-01-29 14:58] muke1908 commented on #114
@Hassan-Ib no worry, it's pretty simple.
Once you create an account https://www.mongodb.com here, click on "Create cluster" button. Then you'll get all the required information there.
Let me know if you get stuck.

[2021-05-08 18:00] amulagrawal02 commented on #136
Is this issue is resolve or not?

[2021-05-09 13:14] amulagrawal02 commented on #136
Yes  I'm interested to fix this bug
On Sat, May 8, 2021, 11:40 PM Mukesh ***@***.***> wrote:

[2021-05-09 13:16] muke1908 commented on #136
@amulagrawal02 , sure!

[2021-06-14 17:26] #136 closed

[2021-09-16 15:12] amreekminocha commented on #77
Hii.. Can I get assigned to this role?
I would love to contribute

[2021-09-16 15:32] muke1908 commented on #77
Sure, go ahead.

On Thu, Sep 16, 2021 at 5:12 PM amreekminocha ***@***.***>
wrote:

[2021-10-02 04:59] J-16 commented on #114
Hey @muke1908, Do we have anything for hacktoberfest?

[2021-10-02 07:34] muke1908 commented on #114
If you want to contribute to the project or have some features to implement feel free to share (You can write at [gitter](https://gitter.im/chat-e2ee/community) as well). I'll create a ticket and add the required tag for hacktoberfest.

[2022-01-26 21:01] softvisioneer opened #202 "Status remains "Online" after chat deleted"
**Is your feature request related to a problem? Please describe.**
When one of the chat participants deletes the chat the other participant gets a sound notification but the status remains "Online". The user either has to refresh the page or try and send a message in order to be notified about the chat deletion.

**Describe the solution you'd like**
The status is updated as soon as the chat is del

[2022-01-26 21:47] muke1908 commented on #202
@softvisioneer thanks for reporting the bug. I'll look into this.

[2022-03-18 11:05] jonatan5524 opened #210 "Bug: node-fetch require error"
**Bug:**
I have cloned the repo for the first time, ran npm install, and npm run dev.
The following error is presented:
[code]

**Steps to Reproduce:**
1. clone the repository
2. run npm install
3. run npm run dev

**Context:**
System: Ubuntu 20.04.3 LTS
Node version: v16.14.1

[2022-03-18 11:08] jonatan5524 commented on #210
I have searched for the error, and the problem is in node-fetch version, in node-fetch v3 required is not supported:
https://github.com/node-fetch/node-fetch#commonjs
I would like to contribute and fix this error by changing the node-fetch version to v2

[2022-03-18 12:01] muke1908 commented on #210
@jonatan5524 sure, go ahead!

[2022-03-18 12:19] jonatan5524 commented on #210
I am new to contributing to open source, so sorry for the ignorance.
How to set up my own MongoDB instance for development with the relevant collections?

[2022-03-18 12:23] muke1908 commented on #210
Try following this document: https://github.com/muke1908/chat-e2ee/wiki/ENV-variables

You can message [here](https://gitter.im/chat-e2ee/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge), if you need any help.
https://gitter.im/chat-e2ee/community

[2022-03-18 12:41] jonatan5524 commented on #210
Thank you, maybe worth adding this wiki page to the contributing guidelines, I will be happy to do it after this issue.

[2022-03-18 15:41] jonatan5524 commented on #202
I can work on it

[2022-03-18 16:04] muke1908 commented on #202
`getUsersInChannel returns 404` -which is expected.

We should rather refactor `getSetUsers` function so that that if `getUsersInChannel` return 404, it should set empty array in channel.

[2022-03-18 16:06] muke1908 opened #215 "Support typescript"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Current code is written in javascript, however, adding support for typescript will help in gradual migration.

**Describe alternatives you've considered**

[2022-03-18 16:07] #210 closed

[2022-03-19 13:57] #202 closed

[2022-07-14 22:18] maxwebbnz commented on #114
Hi @muke1908, do you know if anyone is actively working on this? Would love to contribute.

[2022-07-15 07:58] muke1908 commented on #114
Hi @maxwebbnz, no one is working on it. You can take it!
Let me know if you need any help in setting up the project.

[2022-07-16 05:19] maxwebbnz commented on #114
@muke1908 Hi, all forked and ready to go however in loading the dev server, it is returning a blank page. No errors are coming up in my terminal, any advice?

`jw@Maxs-MacBook-Pro chat-e2ee % npm run dev

[1]
[1] > chat-e2ee@1.0.0 server
[1] > cross-env NODE_ENV=development nodemon index
[1]
[0]
[0] > chat-e2ee@1.0.0 client
[0] > cd client && npm start
[0]
[1] [nodemon] 2.0.4
[1] [nodemon] to rest

[2022-07-16 07:18] muke1908 commented on #114
Is it returning a blank page at localhost:3000 ?

[2022-07-16 07:19] maxwebbnz commented on #114
Yep blank page.

[2022-07-16 07:24] muke1908 commented on #114
Any error in the developer console of the browser?

[2022-07-16 08:21] #129 closed

[2022-07-18 23:43] maxwebbnz commented on #114
Nope, nothing out of the ordinary anyway. Just some 500 errors for fonts....

This .env file looks fine  aye (retracted sensitive information)?

[code]

[2022-07-19 00:25] muke1908 commented on #114
mongo uri looks incorrect.
Can you try removing both mongo uri and mongo db name?

[2022-07-19 06:24] maxwebbnz commented on #114
Nope, still nothing.

[2022-07-19 07:13] muke1908 commented on #114
This is surprising.
 - Can you see any activity in the network tab?
 - What you see, if you do inspect element?

Does this link work for you? https://chat-e2ee.herokuapp.com/

[2022-08-17 12:48] dimparar opened #228 "Installation Fail"
At first I couldn't install the app with success. The problem seemed to be the version of react-scripts (3.4.1) that is currently used.
It is described here https://github.com/webpack/webpack/issues/14532.

The solution is to update the react-scripts version to the latest (5.0.1) by changing in the /client/package.json file the react-scripts attribute from "3.4.1" to "5.0.1" and then run the comma

[2022-08-17 13:00] muke1908 commented on #228
Hi @dimparar thanks for the investigation. I'll look into this later this month. Meanwhile, if you find any solution, feel free to raise a PR.
Thanks.

[2022-08-20 13:08] muke1908 commented on #228
Closing since it's merged with #229

[2022-08-20 13:08] #228 closed